* :root {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.random-color {
  background-color: #ff99f1;
  background-image: radial-gradient(
      at 21% 25%,
      hsla(164, 72%, 76%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 24% 35%, hsla(138, 95%, 71%, 1) 0px, transparent 50%);
}

.blue-glassmorphism {
  background: rgb(39, 51, 89, 0.4);
  /* border-radius: 16px; */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

/* white glassmorphism */
.white-glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
